<!-- views/recipe.ejs -->
<!-- <h1 class="mb-3"><%= recipe.title %></h1> -->
<h1 class="mb-3">recipie title</h1>
<h5>Ingredients</h5>
<p>ingredientss</p>
<!-- <p><%= recipe.ingredients %></p> -->

<h5>Instructions</h5>
<p>instructions</p>
<!-- <p><%= recipe.instructions %></p> -->

<a href="/" class="btn btn-secondary mt-3">â† Back to Recipes</a>

<!-- <h1><%= recipe.title %></h1>
<pre><%= recipe.instructions %></pre> -->
